.header-listed__section{
    display: flex;
    gap: 50px;
    font-size: 10px;
    justify-content: space-evenly;
    list-style-type: none;
}
.boxGia{
    width: 83.4163346614%;
    position: absolute;
    left: 55px;
    margin-top: 20px;
}
.boxcontaint{
    margin: 0 auto;
}